*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header>h1{
    margin-right:60px;
    float: left;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    color: #fff;
    background: #242424;
    width:100%;
    justify-content: center;
    display: flex;
}
ul{
    list-style: none;
}
.header-list {
    color: #fff;
    line-height: 60px;
    padding: 0 20px;    
    cursor:pointer;
    float: left;
}
.header-list:hover{
    color: aqua;
}
/* 
搜索 
*/
.header-login{
    line-height:60px;
    padding-left:40px; 
    width: 400px;
}
